version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/core"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "editor"
    schedule:
      interval: "monthly"
