.button {
  height: var(--unit-space-x6);
  border-radius: var(--border-radius);
  border: none;

  padding: 0 var(--unit-space-x2);

  gap: var(--unit-space);

  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--primary);
  color: var(--text-on-primary);
}

.primary:active {
  background: var(--primary-light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text-on-secondary);
}

.secondary:active {
  background: var(--secondary-light);
}

.seconary-dark {
  background-color: var(--secondary-dark);
  color: var(--text-on-secondary-dark);
}

.seconary-dark:active {
  background: var(--secondary);
}

.warning {
  background-color: #6e1404;
  color: white;
}
