.container {
  --border: 1px solid var(--neutral-2);
  --number-box-width: 5rem;

  display: flex;
  align-items: stretch;

  border-radius: 8px;
  border: var(--border);

  background: var(--neutral-0);

  overflow: hidden;
}

.container > * {
  border-left: var(--border);
}

.container > *:first-child {
  border-left: none;
}

.container button {
  height: var(--unit-space-x6);
  width: var(--unit-space-x6);

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--neutral-1);

  font-size: large;
}

.container button:active {
  background: var(--neutral-3);
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: large;
  width: var(--number-box-width);
}

.edit-text {
  font-size: large;
  text-align: center;
  width: var(--number-box-width);
}
