.container {
  width: 96px;
}

.value-container {
  --height: 32px;
  text-align: center;
  flex: 1;
  height: var(--height);
}

.value-container * {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: var(--height);
  text-align: center;
}

.value-container input {
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.increment-button {
  width: 32px;
  border: 1px solid black;
  border-radius: var(--border-radius);
}
