body {
  margin: 0;
  background: var(--neutral-1);
}

:root {
  --unit-space: 8px;
  --unit-space-x2: calc(2 * var(--unit-space));
  --unit-space-x3: calc(3 * var(--unit-space));
  --unit-space-x4: calc(4 * var(--unit-space));
  --unit-space-x5: calc(5 * var(--unit-space));
  --unit-space-x6: calc(6 * var(--unit-space));
  --unit-space-x7: calc(7 * var(--unit-space));
  --unit-space-x8: calc(8 * var(--unit-space));

  --shadow-level-1: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-level-2: 0px 5px 10px rgba(0, 0, 0, 0.2),
    0px 6px 6px rgba(0, 0, 0, 0.24);
  --shadow-level-3: 0px 15px 30px rgba(0, 0, 0, 0.3),
    0px 12px 12px rgba(0, 0, 0, 0.24);

  --border-radius: 2px;

  --background: white;

  --primary: #ffab91;
  --primary-light: #ffddc1;
  --primary-dark: #c97b63;

  --secondary: #1a237e;
  --secondary-light: #534bae;
  --secondary-dark: #000051;

  --neutral-0: white;
  --neutral-1: hsl(240, 5%, 88.5%);
  --neutral-2: hsl(240, 5%, 75%);
  --neutral-3: hsl(240, 5%, 67.5%);
  --neutral-4: hsl(240, 5%, 50%);
  --neutral-5: hsl(240, 5%, 37.5%);
  --neutral-6: hsl(240, 5%, 25%);
  --neutral-7: hsl(240, 5%, 12.5%);
  --neutral-8: black;

  --palette-1: #bcd8c1;
  --palette-2: #7f636e;
  --palette-3: #388697;
  --palette-4: #cc2936;
  --palette-5: #a93f55;

  --text-on-background: black;
  --text-on-primary: black;
  --text-on-primary-light: black;
  --text-on-primary-dark: black;
  --text-on-secondary: white;
  --text-on-secondary-light: white;
  --text-on-secondary-dark: white;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: none;
  background: none;
}

input {
  background: none;
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
