version: 2.1
jobs:
  build:
    docker:
      - image: cimg/rust:1.56.1
    steps:
      - checkout
      - run: 
          command: |
            sudo apt-get update
            sudo apt-get install -y libssl-dev libasound2-dev
          name: install dependencies
      - run: cargo build --release
      - run: cargo test --release