version: 2.1
jobs:
  build:
    docker:
      - image: cimg/rust:1.52.1
    steps:
      - checkout
      - run: sudo apt-get install -y make build-essential libssl-dev
      - run: cargo build --release
      - run: cargo test --release