.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(2 * var(--unit-space));
}

.message {
  font-size: x-large;
}

.connect-button {
  font-size: x-large;
  box-shadow: var(--shadow-level-2);
}

.connect-button:active {
  box-shadow: var(--shadow-level-1);
}
