.button {
  height: var(--unit-space-x6);
  border-radius: 2px;
  border: none;

  padding: 0 var(--unit-space-x2);

  display: flex;
  gap: var(--unit-space);
  align-items: center;
  justify-content: center;
}

.primary-button {
  composes: button;
  background-color: var(--primary);
  color: var(--text-on-primary);
}

.primary-button:active {
  background: var(--primary-light);
}

.secondary-button {
  composes: button;
  background-color: var(--secondary);
  color: var(--text-on-secondary);
}

.secondary-button:active {
  background: var(--secondary-light);
}

.seconary-dark-button {
  composes: button;
  background-color: var(--secondary-dark);
  color: var(--text-on-secondary-dark);
}

.seconary-dark-button:active {
  background: var(--secondary);
}

.warning-button {
  composes: secondary-button;
  background-color: #6e1404;
}
