.container {
  height: 80px;
  width: 100%;

  background: var(--primary-light);

  box-shadow: var(--shadow-level-1);

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: var(--unit-space-x6) 1fr var(--unit-space-x6);

  position: relative;

  padding: var(--unit-space-x2);
}

.container > *:nth-child(2) {
  display: flex;

  gap: var(--unit-space);
  align-items: center;
  justify-content: center;
}

.queue-button {
  width: var(--unit-space-x6);
  height: var(--unit-space-x6);

  border-radius: 50%;
  background: #2e2e2e;

  color: white;

  font-size: medium;
}

.transport-button {
  width: var(--unit-space-x6);
  height: var(--unit-space-x6);
  fill: var(--text-on-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loop-button {
  width: var(--unit-space-x6);
  height: var(--unit-space-x6);

  border-radius: 50%;
  background: #2e2e2e;

  color: white;

  font-size: medium;
  opacity: 40%;
}

.loop-button-looping {
  opacity: 100%;
}
