.container {
  position: absolute;
  bottom: 0;
  height: 5px;
  left: 0;
  right: 0;
  background: var(--colour);
  transform-origin: bottom left;
  transform: scaleX(var(--progress));
  transition: width 0.05;
}
