.button {
  --on-color: var(--primary-dark);
  --off-color: grey;
  --toggle-color: white;
  --width: 96px;
  --height: calc(0.5 * var(--width));
  --gap: 2px;

  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: calc(0.5 * var(--height));
  background: var(--off-color);
}

.button-enabled {
  background: var(--on-color);
}

.toggle {
  position: absolute;
  height: calc(var(--height) - 2 * var(--gap));
  width: calc(0.5 * var(--width) - 2 * var(--gap));
  top: var(--gap);
  transform: translateX(var(--gap));
  left: 0;
  border-radius: 50%;
  background: var(--toggle-color);
  transition: transform 0.2s ease-out;
}

.toggle-enabled {
  transform: translateX(calc(0.5 * var(--width) + var(--gap)));
}
