.container {
  padding: var(--unit-space-x4) 0;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: var(--unit-space-x8);

  overflow-y: scroll;
}

.song {
  max-width: 1024px;
  width: 100%;
}
