.container {
  --section-border-color: var(--neutral-2);
  --section-border-color-selected: var(--neutral-8);
  --section-background: var(--neutral-0);
  --section-background-playing: var(--primary-light);
  --section-background-queued: var(--neutral-1);

  background: white;
  overflow: hidden;

  box-shadow: var(--shadow-level-1);
}
