.container {
  padding-bottom: var(--unit-space-x2);
  display: flex;
  flex-direction: column;
}

.container p,
label {
  font-size: medium;
}

.name-region {
  padding: var(--unit-space-x2);
  background: var(--card-background);
  color: var((--text-on-card));
}

.name-region-selected {
  background: var(--primary);
  color: var(--text-on-primary);
}

.button-region {
  display: flex;
  padding: 0 var(--unit-space-x2);
}

.section-region {
  padding: 0 var(--unit-space-x2);

  display: flex;
  flex-direction: column;
  gap: var(--unit-space-x2);

  margin: var(--unit-space-x2) 0;
}

.add-section-button {
  height: var(--unit-space-x6);
  padding: var(--unit-space-x2);
  border: 1px solid var(--card-layer);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;

  gap: var(--unit-space);

  display: flex;

  margin-right: auto;
}
