body {
  background: rgba(0, 0, 0, 0.05);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --unit-space: 8px;
  --unit-space-x2: calc(2 * var(--unit-space));
  --unit-space-x3: calc(3 * var(--unit-space));
  --unit-space-x4: calc(4 * var(--unit-space));
  --unit-space-x5: calc(5 * var(--unit-space));
  --unit-space-x6: calc(6 * var(--unit-space));
  --unit-space-x7: calc(7 * var(--unit-space));
  --unit-space-x8: calc(8 * var(--unit-space));

  --shadow-level-1: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-level-2: 0px 5px 10px rgba(0, 0, 0, 0.2),
    0px 6px 6px rgba(0, 0, 0, 0.24);
  --shadow-level-3: 0px 15px 30px rgba(0, 0, 0, 0.3),
    0px 12px 12px rgba(0, 0, 0, 0.24);

  --border-radius: 2px;

  --transition: all 0.2s ease-in-out;

  --background: white;

  --primary: #ffab91;
  --primary-light: #ffddc1;
  --primary-dark: #c97b63;

  --secondary: #1a237e;
  --secondary-light: #534bae;
  --secondary-dark: #000051;

  --card-background: white;
  --card-layer: rgb(0, 0, 0, 0.1);

  --text-on-background: white;
  --text-on-primary: black;
  --text-on-primary-light: black;
  --text-on-primary-dark: black;
  --text-on-secondary: white;
  --text-on-secondary-light: white;
  --text-on-secondary-dark: white;
  --text-on-card: black;
}

* {
  font-family: 'Chivo', 'sans-serif';
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: none;
  background: none;
}

input {
  background: none;
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
