[Unit]
Description=Bloop Core
Requires=jackd.service network-online.target
After=jackd.service network-online.target

[Service]
ExecStart=/usr/local/bin/bloop-core
User=joe
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
