.container {
  background: var(--neutral-3);
  color: var(--text-on-primary);

  height: var(--unit-space-x6);

  display: flex;
  align-items: center;

  padding: 0 var(--unit-space-x2);
}

.container-selected {
  background: var(--primary);
}

.container button {
  font-size: x-large;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: x-large;
}
