.container {
  padding: 0 var(--unit-space-x2);
  height: var(--unit-space-x6);

  align-items: center;

  position: relative;

  background: var(--section-background);

  color: var(--neutral-8);

  border: 1px solid var(--section-border-color);
  border-radius: var(--border-radius);

  display: flex;
}

.container h3 {
  font-size: large;
}

.container-playing {
  background: var(--section-background-playing);
  color: var(--text-on-primary-light);
}

.container-cued {
  background: var(--section-background-queued);
}

.container-selected {
  border-color: var(--section-border-color-selected);
}
