.container {
  padding: 0 var(--unit-space-x2);
  height: var(--unit-space-x6);

  align-items: center;

  position: relative;

  background: var(--neutral-0);
  color: var(--neutral-8);

  border-radius: var(--border-radius);
  border: 1px solid var(--neutral-2);

  display: flex;
}

.container h3 {
  font-size: large;
}

.container-playing {
  background: var(--primary-light);
  color: var(--text-on-primary-light);
}

.container-selected {
  border-color: var(--neutral-8);
}
