.container {
  position: relative;
}

.section {
  position: relative;
  height: 100%;
  border-left: 4px solid var(--section-border-color);
  overflow-x: hidden;
  padding: var(--unit-space);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--unit-space);
}

.section-selected {
  border-color: var(--section-border-color-selected);
}

.section-playing {
  background: var(--section-background-playing);
}

.section-queued {
  background: var(--section-background-queued);
}

.progress-bar-container {
  position: absolute;
  width: 100%;
  transform: translateX(var(--start)) scaleX(var(--duration));
  transform-origin: bottom left;
}
