.container {
  border: 1px solid var(--neutral-2);
  border-radius: var(--border-radius);
  padding: var(--unit-space-x2);
  position: relative;
}

.container-selected {
  border-color: var(--neutral-8);
}

.container h3 {
  font-size: large;
}

.container label {
  font-size: medium;
}

.header {
  display: flex;
  align-items: center;

  height: var(--unit-space-x2);

  font-size: medium;
}

.reveal-button {
  transform: rotate(0);
  transition: transform 0.2s ease-in-out;
}

.reveal-button-editing {
  transform: rotate(-180deg);
}

.section-properties {
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.section-properties-open {
  margin-top: var(--unit-space-x2);
}

.edit-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--unit-space);
}

.edit-group > *:first-child {
  flex-grow: 1;
}

.waveform {
  height: 80px;
  position: relative;
}

.inner-section-properties {
  display: flex;
  flex-direction: column;
  gap: var(--unit-space);
}

.separator {
  border-top: 1px solid var(--neutral-1);
}
