name: Frontend
on: [push]
jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install
      - name: Build all
        run: yarn build
 