.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: var(--primary-light);
  color: var(--text-on-primary-light);

  box-shadow: var(--shadow-level-2);

  padding: var(--unit-space-x2);

  gap: var(--unit-space-x2);

  position: relative;
}

.project-name {
  font-size: x-large;
}

.lock-button {
  background-color: var(--neutral-2);
  color: black;
  border-radius: 8px;
  font-size: large;
}

.lock-button-locked {
  background-color: var(--primary);
  color: var(--text-on-primary);
}
